src/test/resources/schema.dtd

<?xml version="1.0" encoding="utf-8" ?>
        <!ELEMENT dataset (CAR*, MAP*)>

        <!--CarEntity-->
        <!ELEMENT CAR EMPTY>
        <!ATTLIST CAR ID CDATA #REQUIRED>
        <!ATTLIST CAR NAME CDATA #REQUIRED>

        <!--MapEntity-->
        <!ELEMENT MAP EMPTY>
        <!ATTLIST MAP ID CDATA #REQUIRED>
        <!ATTLIST MAP NAME CDATA #REQUIRED>
