src/test/resources/schema.dtd

<?xml version="1.0" encoding="utf-8" ?>
        <!ELEMENT dataset (MAP*, GAME*, CAR*)>

        <!--GameEntity-->
        <!ELEMENT GAME EMPTY>
        <!ATTLIST GAME ID CDATA #REQUIRED>
        <!ATTLIST GAME NAME CDATA #REQUIRED>
        <!ATTLIST GAME MAP_ID CDATA #REQUIRED>

        <!--CarEntity-->
        <!ELEMENT CAR EMPTY>
        <!ATTLIST CAR ID CDATA #REQUIRED>
        <!ATTLIST CAR NAME CDATA #REQUIRED>
        <!ATTLIST CAR GAME_ID CDATA #IMPLIED>

        <!--MapEntity-->
        <!ELEMENT MAP EMPTY>
        <!ATTLIST MAP ID CDATA #REQUIRED>
        <!ATTLIST MAP NAME CDATA #REQUIRED>
        <!ATTLIST MAP DELETED CDATA #REQUIRED>
        <!ATTLIST MAP CONTENT CDATA #REQUIRED>